--
-- PostgreSQL database dump
--

\restrict VezFqxWbCd5CcjRAoSRSZ69KGDSeKShpq1YZ40A9E4JtMGdz88f6kBrBnk3Ay0J

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: env; Type: TABLE; Schema: config; Owner: postgres
--

CREATE TABLE config.env (
    id integer NOT NULL,
    project text NOT NULL,
    url text,
    config jsonb
);


ALTER TABLE config.env OWNER TO postgres;

--
-- Name: env_id_seq; Type: SEQUENCE; Schema: config; Owner: postgres
--

ALTER TABLE config.env ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME config.env_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: env; Type: TABLE DATA; Schema: config; Owner: postgres
--



--
-- Name: env_id_seq; Type: SEQUENCE SET; Schema: config; Owner: postgres
--

SELECT pg_catalog.setval('config.env_id_seq', 4, true);


--
-- Name: env env_pkey; Type: CONSTRAINT; Schema: config; Owner: postgres
--

ALTER TABLE ONLY config.env
    ADD CONSTRAINT env_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict VezFqxWbCd5CcjRAoSRSZ69KGDSeKShpq1YZ40A9E4JtMGdz88f6kBrBnk3Ay0J

